body {

    /* ## Colors */

    /* ### Primary */

    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /* ### Neutral */

    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);



    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;

    color: var(--light-gray);
    background-color: var(--light-grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2, p {
    margin: 0;
}

#testimonials{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 4rem auto;
}

.testimonial{
    padding: 2rem;
    border-radius: 10px;
}

.testimonial:nth-child(1) {
    background-color: var(--moderate-violet);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 30px;
}

.testimonial:nth-child(2) {
    background-color: var(--very-dark-grayish-blue);
    color: var(--white);
}

.testimonial:nth-child(5),
.testimonial:nth-child(3) {
    background-color: var(--white);
    color: var(--very-dark-grayish-blue);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.testimonial:nth-child(4) {
    background-color: var(--very-dark-blackish-blue);
    color: var(--white);
}

.testimonial .testimonial__person {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    margin-bottom: 1.5rem;
}

.testimonial__person img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.testimonial:nth-child(4) .testimonial__person img,
.testimonial:nth-child(1) .testimonial__person img {
    border: 1.5px solid rgb(152	116	211);
}

.testimonial__person .name-role {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.name-role p:nth-child(2) {
    font-size: 0.8rem;
    opacity: .5;
}

.testimonial__text .title{
    font-size: 1.3rem;
    line-height: 1.9rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.testimonial__text .description {
    font-size: .8rem;
    line-height: 1.2rem;
    font-weight: 400;
    opacity: .7;
}